# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Cobertura
coverage/

# Cache
.cache/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Sequelize
sequelize-meta.json

# Builds
dist/
build/